<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>HouseCom™ ThermoSecurity™</title>
        <meta name="description" content="Security and thermostat for your home" />
        <meta name="author" content="Bueno, Carrera, Campbell, Ghalepardaz, Teves" />
        <meta name="keywords"  content="security, thermostat" />

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Hind:400,700|Roboto:300&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="public/css/main.css" />
        <script src="https://kit.fontawesome.com/f8b14333ef.js"></script>
    </head>
    <body>
        <!--Hidden for accessibility-->
        <h1 class="hidden">Main Body</h1>
        <!--Page Header-->
        <header class="header">
            <h1 class="hidden">Navigation</h1>
            <!--Logo-->
            <div class="brand">
                <a href="#hero">
                    <object class="logo" type="image/svg+xml" data="public/images/ThermoSecurityLogoHorz.svg"></object>
                </a>
            </div>
            <!--Navbar-->
            <nav class="nav">
                <h1 class="hidden">Links</h1>
                <ul class="nav-items">
                    <li class="units-link"><a href="#units">Units</a></li>
                    <li class="thermo-link"><a href="#thermo">Thermo</a></li>
                    <li class="security-link"><a href="#security">Security</a></li>
                    <li class="plans-link"><a href="#plans">Plans</a></li>
                    <li class="contact-link"><a href="#contact">Contact</a></li>
                    <li class="divide">|</li>
                    <li class="login-link"><a href="#">Sign-in</a></li>
                </ul>
            </nav>
            <div class="menu">
                <i id="nav-toggler" class="fas fa-bars"></i>
            </div>
        </header>
        <!--Sidebar-->
        <nav id="sidebar">
            <h1 class="hidden">Sidebar</h1>
            <ul class="sidebar-items">
                <li class="units-link"><a href="#units">Units</a></li>
                <li class="thermo-link"><a href="#thermo">Thermo</a></li>
                <li class="security-link"><a href="#security">Security</a></li>
                <li class="plans-link"><a href="#plans">Plans</a></li>
                <li class="contact-link"><a href="#contact">Contact</a></li>
                <li class="divide"><hr></li>
                <li class="login-link"><a href="#">Sign-in</a></li>
            </ul>
        </nav>
        <!--Hero Section-->
        <section class="hero" id="hero">
            <h1 class="hidden">Hero</h1>
            <div class="hero-text">
                <h1>Best in Canada</h1>
                <p>Safety and temperature control at your fingertips.</p>
            </div>
        </section>
        <!--Units Section-->
        <section class="units" id="units">
            <h1 class="hidden">Units</h1>
            <div class="units-grid">
                <div class="box">
                    <img src="public/images/wireless.jpg"/>
                    <div class="icon"><i class="fas fa-wifi"></i></div>
                    <h2>100% Wireless</h2>
                    <p>Place it anywhere, in your home, business and even outdoors.</p>
                </div>
                <div class="box">
                    <img src="public/images/apartment.jpg"/>
                    <div class="icon"><i class="fas fa-video"></i></div>
                    <h2>24/7 Recording</h2>
                    <p>Check in from anywhere in the world and at any time for real time updates, viewing, changes and more.</p>
                </div>
                <div class="box">
                    <img src="public/images/family_computer.jpg"/>
                    <div class="icon"><i class="fas fa-mobile-alt"></i></object></div>
                    <h2>Fully Compatible</h2>
                    <p>ThermoSecurity™ is compatible with almost all other devices in the smart home ecosystem.</p>
                </div>
            </div>
        </section>
        <!--Product Section-->
        <section class="product" id="product">
            <img class="product-images" id="product-images" src=""/>
        </section>
        <!--Thermo Section-->
        <section class="thermo" id="thermo">
            <h1 class="hidden">Thermo</h1>
            <div class="thermo-grid">
                <div class="text-box">
                    <h1>User Friendly</h1>
                    <p>Change your home temperature with your smart phone from anywhere.</p>
                </div>
                <div class="image-box">
                    <img src="public/images/Thermostat.png"/>
                </div>
            </div>
        </section>
        <!--Security Section-->
        <section class="security" id="security">
            <h1 class="hidden">Security</h1>
            <div class="security-grid">
                <div class="image-box">
                    <img src="public/images/secure_phone.png"/>
                </div>
                <div class="text-box">
                    <h1>Feel secure at home</h1>
                    <p>As home owners and fellow family members, we understand the importance of safety and peace of mind on a personal level. That is why we created the thermosecure smart device with everyone in mind. Both for security and comfort.</p>
                </div>
            </div>
        </section>
        <!--Plans Section-->
        <section class="plans" id="plans">
            <h1 class="hidden">Plans</h1>
            <div class="plans-grid">
                <div class="box">
                    <h2>Bronze Tier</h2>
                    <div class="icon"><object class="" type="image/svg+xml" data="public/images/bronzeshield.svg"></object></div>
                    <ul>
                        <li><p>Enables your device to be connected to the Wifi and accessed by your device.</p></li>
                        <li><p>Supports up to 5 Thermosecure devices.</p></li>
                        <li><p>1 week of archived recording cloud storage.</p></li>
                        <li><p>Enables weather control from anywhere via smartphone with Wifi or dataplan.</p></li>
                    </ul>
                </div>
                <div class="box">
                    <h2>Silver Tier</h2>
                    <div class="icon"><object class="" type="image/svg+xml" data="public/images/silvershield.svg"></object></div>
                    <ul>
                        <li><p>Bronze Tier benefits</p></li>
                        <li><p>Supports up to 10 Thermosecure devices.</p></li>
                        <li><p>3 months of archived recording cloud storage.</p></li>
                        <li><p>Contact emergency personnel and guide them to anywhere in your home.</p></li>
                    </ul>
                </div>
                <div class="box">
                    <h2>Gold Tier</h2>
                    <div class="icon"><object class="" type="image/svg+xml" data="public/images/goldsheild.svg"></object></div>
                    <ul>
                        <li><p>Silver Tier benefits</p></li>
                        <li><p>Supports up to 25 Thermosecure devices.</p></li>
                        <li><p>1 year of archived recording cloud storage.</p></li>
                        <li><p>Lifetime warranty</p></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--Contact Section-->
        <section class="contact-form" id="contact">
            <div class="form">
                <h1>Contact Us</h1>
                <form>
                    <p>Name</p>
                    <input type="text" name="first" value="First"/>
                    <input type="text" name="fast" value="Last"/>
                    <p>Company</p>
                    <input type="text" name="company">
                    <p>Email</p>
                    <input type="text" name="email">
                    <p>Message</p>
                    <textarea name="message" rows="10" cols="40"></textarea>
                    <br>
                    <input type="submit">
                </form>
            </div>
        </section>
        <!--Page Footer-->
        <footer class="footer">
            <p class="copyright">©HouseCom | All Rights Reserved</p></li>
        </footer>
        <script src="js/main.js"></script>
    </body>
</html>
